<h1>HOME Alpha Blog</h1>

<%= link_to 'AlphaBlog', articles_path%> | 
<%= link_to 'About', about_path %>

<div class="center jumbotron">
  <h1>Alpha Blog!</h1>
<%= link_to 'Sign Up Now', about_path, class: "btn btn-danger btn-lg btn-what" %>
</div>