<h1>HOME Alpha Blog</h1>

<%= link_to 'About', about_path %>

<!DOCTYPE html>
<html>
    <head>
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Content' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="home.css">
        <title>Hello World!</title>
    </head>
    <body>
        <H1>My Dragony Page</h1>
            <br>
            <img src="http://www.siliconera.com/wordpress/wp-content/uploads/2015/06/zzzzfireup.png">


            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <h2><img src ="https://vignette.wikia.nocookie.net/finalfantasy/images/8/8d/ARR_Dragoon.png/revision/latest?cb=20130624231107" height="100"</h2>
                    <p>"We come from the land of the ice and snow <br>
From the midnight sun, where the hot springs flow"</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2><img src="https://vignette.wikia.nocookie.net/finalfantasy/images/f/fe/First-brood_Nidhogg.png/revision/latest?cb=20150624065957" height="100"</h2>
                    <p>"Iske rauta, vaskirauta, iskuista teräsi saanet <br>
Iske rauta niin punainen, kuuman polton poikkirauta"</p>
                </div>
            </div>
</body>
</html>
